### This file is managed by Ansible
# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

{% for package, pin in hashicorp_apt_pins.items() %}
Package: {{ package }}
Pin: {{ pin }}
Pin-Priority: 995

{% endfor %}
# Do not automatically pull in other packages from Hashicorp.
Package: *
Pin: origin "apt.releases.hashicorp.com"
Pin-Priority: 100
